@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}
html, body, #root, #defaultLayout, #guestLayout {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #27374D;
    background-color: #f6f6f6;
  
}

input {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;
}
.input-mark{
    padding: 5px;
    width: 50px;
    margin-top: 10px;
    color: #27374D;
}

input:focus {
    border-color: #7788A3;
}

.btn,
.btn-add,
.btn-edit,
.btn-delete {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background-color: rgb(186, 213, 255, 0.6);
    border: 0;
    text-decoration: none;
    padding: 15px;
    color: #27374D;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
 
}

.btn-block {
    width: 100%;
}

.btn-add,
.btn-edit,
.btn-delete{
 
  
    background-color: rgb(186, 213, 255, 0.6);
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    font-size: 14px;
    transition: .3s;
}
.btn-add:hover {
  box-shadow: 5px 5px #a3c0f5;
  transition: .3s;

}
.btn-delete {
  background-color: rgb(186, 213, 255, 0.6);
   
}

.btn-add-mark{
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  border: 0;
  border-radius: 4px;
  color: #27374D;
  background-color: rgb(186, 213, 255, 0.6);
  background: white;
  margin-top: -15px;
}


.btn-add-mark:hover{
  /* border: 1px solid #27374D; */
  border-radius: 4px;
  text-shadow: 0 0 10px white, 5px 5px 5px white, 0 0 10px blue;

}

.btn-logout {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    color: #27374D;
    transition: all 0.3s;
    border-radius: 6px;
}
.btn-logout:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #7788A3;
}

.text-center {
    text-align: center;
}

.header-name{
  font-size: 20px;
  color: #27374D;
  text-decoration: none;
}
.header-name:hover{
  color: #496791;
  text-decoration: none;
 

}
.btn-n{
   padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 0;
    color: #27374D;
    background-color: white;
}
.btn-n:hover {
    text-shadow: 0 0 10px blue, 5px 5px 5px blueviolet, 0 0 10px #27374D;
    /* border: 1px solid #27374D; */
}
.dropdown{
  position: absolute;

  padding: 10px;
  top: 55px;
  left: 50%;
  z-index: 99;
  background: rgba(186, 213, 255, 0.8);
  transform: translateX(-50%);
}
.contain{
 
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.n{
  text-shadow: 0 0 10px white, 5px 5px 5px #7788A3, 0 0 10px blue;
  /* text-shadow: #536895  0 0 10px, #35557d  5px 5px 5px; */
}
table {
  width: 100%; 
    white-space: nowrap;
    border-spacing: 0;
    /* table-layout: fixed;  */
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(36, 30, 30, 0.1);
    overflow-x: auto; 
 
}




table > thead > tr > th {
    text-align: left;
    padding: 0.5rem 0.5rem;
    background-color: #efefef;


    background-color: rgb(186, 213, 255, 0.6);
    border: 1px solid #27374D;
}

table > tbody > tr > td {

 


    width: 50px; 
    height: 50px;
    text-align: center;
  
    color: #27374D;
    border: 1px solid #27374D;


    position: relative;
    background-color: rgb(186, 213, 255, 0.15);


  
}
th:first-child,
td:first-child {
  width: 200px;
  white-space: nowrap;
  padding: 10px;
  text-align: left;
  position: sticky;
  left: 0;
  font-size: 16px;
  background-color: rgb(186, 213, 255, 0.5);
  color: #27374D;
  border: 1px solid #27374D;
}

thead th:first-child{
  background-color: rgb(186, 213, 255, 0.6);
  border: 1px solid #27374D;
}
select {
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  border-radius: 4px;
border: 0;
  background-color: rgb(186, 213, 255, 0.6); 
  color: #27374D;


  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
 
}

.select-mark{
    padding: 5px;
    font-size: 12px;
    width: 130px;
    background: white;
}

select:focus {
  border-color: #7788A3;
}

option {
  
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid #b5b5b5;
  font-size: 18px;
  font-weight: 600;
  color: #27374D;
  line-height: 47px;
  cursor: pointer;
  transition: all .4s ease-in-out;
 
}
option.selection{
  color: #b5b5b5;
  background-color: rgb(186, 213, 255, 0.6);

}
option:hover{
  color: #b5b5b5;
  background-color: rgb(186, 213, 255, 0.6);
}
.card {
 

  
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
 
}

.alert {
    padding: 1rem;
    background-color: #ff4040;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #BAD5FF;
    color: #27374D;
    border-radius: 0.5rem;
}



.login-signup-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-signup-form .form {
    width: 360px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 34px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.login-signup-form .title {
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
}

.login-signup-form .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
    text-align: center;
}

.login-signup-form .form .message a {
    color: #BAD5FF;
    text-decoration: none;
}




#defaultLayout {
    display: flex;
}

#defaultLayout aside {
    width: 240px;
    background: #BAD5FF 66%;
    padding: 1rem
}

#defaultLayout aside > a {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: #27374D;
    text-decoration: none;
    transition: all 0.2s;
}

#defaultLayout aside > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout .content {
    flex: 1;
}

#defaultLayout header {


    color: #27374D;
    height: 80px;
    padding: 2rem 3rem;
    background: #BAD5FF 66%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#defaultLayout main {
    padding: 2rem;
    
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



